body {
  background: #0d1117;
  color: #c9d1d9;
  font-size: 16px;
  line-height: 1.8;
  margin: 4rem auto;
  border-right: solid 2px;
  border-left: solid 2px;
  padding: 1em 2em;
  width: 33.3%;
}

a {
  color: #58a6ff;
}

pre, code {
  background: #161b22;
}

/* スマホ */
@media (max-width: 599px) {
  body {
    font-size: 0.8en;
    width: 100%;
  }
}
