@import "{{ site.theme }}";

body {
  background: #0d1117;
  color: #c9d1d9;
  font-size: 16px;
  line-height: 1.8;
}

.markdownbody
{
  width: 50%;
  margin: 0 auto;
}

a {
  color: #58a6ff;
}

pre, code {
  background: #161b22;
}
